.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pokemon-list {
  width: 250px;
  height: 500px;
  background-color: yellow;
  font-size: 18px;
  overflow-y: auto;
}

.animate-bounce {
  animation: bounce 2s infinite;
}

.animate-rainbow-text {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-size: 200% 100%;
  animation: rainbow-text 5s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

.animate-rainbow {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-size: 200% 100%;
  animation: rainbow 5s infinite;
}

@keyframes rainbow {
  0% {
      background-position: 0% 0%;
  }
  100% {
      background-position: 100% 0%;
  }
}

@keyframes rainbow-text {
  0% {
      background-position: 0% 0%;
  }
  100% {
      background-position: 100% 0%;
  }
}
